In [1]:
# query 6

# cited by cited by cited by...
#   https://coda.io/d/WoS-db_d2zsZYQIcsP/Test-queries_suE54?utm_campaign=link&utm_medium=web&utm_source=2zsZYQIcsP&loginToken=eyJjc3JmVG9rZW4iOiJJakV5TkhveU1WcEZURkZwWWxOWE9Hd2kiLCJleHBpcnlNc2VjIjoxNTYyMDk3NTk0MjI5fQ#_lu4Eu


# suggestions for improvement--
#   possibly use RECURSIVE instead of enumerating each step

In [2]:
import pymysql
import time
import json

In [3]:
# mysql parameters

db_name = 'test_wos_cut_full'
client_config = {'unix_socket':'/project2/jevans/study_dbs/mysql/.sql.sock',
                'database': db_name}

In [8]:
# query parameters
year = 1978

In [13]:
# load top 100 articles from query 4
with open('query4_results.json','r') as f:
    loaded_data = json.load(f)
    papers = [d['A'] for d in loaded_data['results'][:100]]

['WOS:A1978EN08800026', 'WOS:A1978EM12800027', 'WOS:A1978EU94600052', 'WOS:A1978EU94600059', 'WOS:A1978EQ77900041', 'WOS:A1978EU94600096', 'WOS:A1978GC55400002', 'WOS:A1978EK65900015', 'WOS:A1978FU61400051', 'WOS:A1978GC55400032', 'WOS:A1978ES36300014', 'WOS:A1978EM12800043', 'WOS:A1978FE04000024', 'WOS:A1978ES45300027', 'WOS:A1978EJ66300016', 'WOS:A1978FN26200042', 'WOS:A1978FN26200044', 'WOS:A1978FE24300003', 'WOS:A1978EW43900021', 'WOS:A1978GC55400003', 'WOS:A1978FU73000035', 'WOS:A1978EM12800019', 'WOS:A1978ES36300006', 'WOS:A1978EM12800022', 'WOS:A1978ES36300001', 'WOS:A1978EU94600057', 'WOS:A1978EQ77900018', 'WOS:A1978EN45000018', 'WOS:A1978ES36300004', 'WOS:A1978EK60900018', 'WOS:A1978FU83100027', 'WOS:A1978ES36300002', 'WOS:A1978EQ07800020', 'WOS:A1978EM99800016', 'WOS:A1978EK65900043', 'WOS:A1978FB94300027', 'WOS:A1978EL80800011', 'WOS:A1978EG71400017', 'WOS:A1978FE24300004', 'WOS:A1978FL83700020', 'WOS:A1978EK02600040', 'WOS:A1978FQ44400006', 'WOS:A1978FS34900028', 'WOS:A1978FQ54500043', 'WOS:A1978EU94600090', 'WOS:A1978FH78000008', 'WOS:A1978FD62200004', 'WOS:A1978FU61400087', 'WOS:A1978FA09000011', 'WOS:A1978FJ88100066', 'WOS:A1978EK02600008', 'WOS:A1978EM12800080', 'WOS:A1978FQ44400002', 'WOS:A1978EX58100001', 'WOS:A1978FE24300017', 'WOS:A1978FM72500018', 'WOS:A1978EM86300002', 'WOS:A1978FT30200025', 'WOS:A1978EQ58300013', 'WOS:A1978EJ16700006', 'WOS:A1978FM72500017', 'WOS:A1978EV69500056', 'WOS:A1978FN26200075', 'WOS:A1978EJ92000066', 'WOS:A1978EM37600051', 'WOS:A1978EH33500044', 'WOS:A1978FH82200025', 'WOS:A1978FJ84900025', 'WOS:A1978FE80700061', 'WOS:A1978FK40200016', 'WOS:A1978EV09700019', 'WOS:A1978GC55400004', 'WOS:A1978EV91500029', 'WOS:A1978EH47700003', 'WOS:A1978EM12800076', 'WOS:A1978EH33200008', 'WOS:A1978EK91200004', 'WOS:A1978EG94300047', 'WOS:A1978EL47700002', 'WOS:A1978FM72500020', 'WOS:A1978FS46500047', 'WOS:A1978EK65900051', 'WOS:A1978FA76400024', 'WOS:A1978FA09000020', 'WOS:A1978FD81700029', 'WOS:A1978FC15600038', 'WOS:A1978FK40200015', 'WOS:A1978EU94600041', 'WOS:A1978ES72900027', 'WOS:A1978EW03300011', 'WOS:A1978EU94600117', 'WOS:A1978EJ92000032', 'WOS:A1978FE37800029', 'WOS:A1978FX85700031', 'WOS:A1978EN04000013', 'WOS:A1978FK01700020', 'WOS:A1978FJ88100057', 'WOS:A1978EW03300012', 'WOS:A1978FU61400021', 'WOS:A1978FL81400023']

In [ ]:

# run query
start_time = time.time()

#   in order to protect against
#   SQL injection risks, 
#   it's better to pass arguments directly
#   to mysql (without formatting
#   as one long string):
#   see https://stackoverflow.com/questions/589284/imploding-a-list-for-use-in-a-python-mysqldb-in-clause  
#   ---do as we say, not as we do---
db = pymysql.connect(**client_config)
cursor = db.cursor()
papers_str =  ', '.join(["\""+p+"\"" for p in papers]) # for convenient but injection-risky insertion into the SQL query
sql = '''SELECT T4.s0, T4.s1, T4.s2, T4.s3, T4.s4, P5.wos_id as s5, count(*) as cnt
        FROM
            (SELECT T3.s0 as s0, T3.s1 as s1, T3.s2 as s2, T3.s3 as s3, P4.wos_id as s4
            FROM
                (SELECT T2.s0 as s0, T2.s1 as s1, T2.s2 as s2, P3.wos_id as s3
                FROM
                    (SELECT T1.s0 as s0, T1.s1 as s1, P2.wos_id as s2
                    FROM
                        (SELECT P0.wos_id as s0, P1.wos_id as s1
                        FROM publications as P0
                            JOIN the_references as R0 ON P0.wos_id=R0.uid
                            JOIN publications as P1 ON R0.wos_id=P1.wos_id
                        WHERE P0.wos_id IN ({})) T1

                    JOIN the_references as R1 ON T1.s1=R1.uid
                    JOIN publications as P2 ON R1.wos_id=P2.wos_id) T2

                JOIN the_references as R2 ON T2.s2=R2.uid
                JOIN publications as P3 ON R2.wos_id=P3.wos_id) T3

            JOIN the_references as R3 ON T3.s3=R3.uid
            JOIN publications as P4 ON R3.wos_id=P4.wos_id) T4
        
        JOIN the_references as R4 ON T4.s4=R4.uid
        JOIN publications as P5 ON R4.wos_id=P5.wos_id
           
        GROUP BY T4.s0
        ORDER BY cnt DESC
        LIMIT 100
        '''.format(papers_str)
print(sql, '\n','----------------------------','\n')
cursor.execute(sql)

results = []
for i,result in enumerate(cursor):
    print(result)
    results.append(result)
cursor.close()
db.close()

end_time = time.time()
elapsed = end_time - start_time
print("elapsed (s): {}".format(elapsed))
#print('results: \n----------------------------------')    
#print(results)

# write results
save_obj = {'elapsed': elapsed,
           'results': results}
with open('query5_results.json','w') as f:
    json.dump(save_obj, f)

SELECT T4.s0, T4.s1, T4.s2, T4.s3, T4.s4, P5.wos_id as s5, count(*) as cnt
        FROM
            (SELECT T3.s0 as s0, T3.s1 as s1, T3.s2 as s2, T3.s3 as s3, P4.wos_id as s4
            FROM
                (SELECT T2.s0 as s0, T2.s1 as s1, T2.s2 as s2, P3.wos_id as s3
                FROM
                    (SELECT T1.s0 as s0, T1.s1 as s1, P2.wos_id as s2
                    FROM
                        (SELECT P0.wos_id as s0, P1.wos_id as s1
                        FROM publications as P0
                            JOIN the_references as R0 ON P0.wos_id=R0.uid
                            JOIN publications as P1 ON R0.wos_id=P1.wos_id
                        WHERE P0.wos_id IN ("WOS:A1978EN08800026", "WOS:A1978EM12800027", "WOS:A1978EU94600052", "WOS:A1978EU94600059", "WOS:A1978EQ77900041", "WOS:A1978EU94600096", "WOS:A1978GC55400002", "WOS:A1978EK65900015", "WOS:A1978FU61400051", "WOS:A1978GC55400032", "WOS:A1978ES36300014", "WOS:A1978EM12800043", "WOS:A1978FE04000024", "WOS:A1978ES45300027", "WOS:A1978EJ66300016", "WOS:A1978FN26200042", "WOS:A1978FN26200044", "WOS:A1978FE24300003", "WOS:A1978EW43900021", "WOS:A1978GC55400003", "WOS:A1978FU73000035", "WOS:A1978EM12800019", "WOS:A1978ES36300006", "WOS:A1978EM12800022", "WOS:A1978ES36300001", "WOS:A1978EU94600057", "WOS:A1978EQ77900018", "WOS:A1978EN45000018", "WOS:A1978ES36300004", "WOS:A1978EK60900018", "WOS:A1978FU83100027", "WOS:A1978ES36300002", "WOS:A1978EQ07800020", "WOS:A1978EM99800016", "WOS:A1978EK65900043", "WOS:A1978FB94300027", "WOS:A1978EL80800011", "WOS:A1978EG71400017", "WOS:A1978FE24300004", "WOS:A1978FL83700020", "WOS:A1978EK02600040", "WOS:A1978FQ44400006", "WOS:A1978FS34900028", "WOS:A1978FQ54500043", "WOS:A1978EU94600090", "WOS:A1978FH78000008", "WOS:A1978FD62200004", "WOS:A1978FU61400087", "WOS:A1978FA09000011", "WOS:A1978FJ88100066", "WOS:A1978EK02600008", "WOS:A1978EM12800080", "WOS:A1978FQ44400002", "WOS:A1978EX58100001", "WOS:A1978FE24300017", "WOS:A1978FM72500018", "WOS:A1978EM86300002", "WOS:A1978FT30200025", "WOS:A1978EQ58300013", "WOS:A1978EJ16700006", "WOS:A1978FM72500017", "WOS:A1978EV69500056", "WOS:A1978FN26200075", "WOS:A1978EJ92000066", "WOS:A1978EM37600051", "WOS:A1978EH33500044", "WOS:A1978FH82200025", "WOS:A1978FJ84900025", "WOS:A1978FE80700061", "WOS:A1978FK40200016", "WOS:A1978EV09700019", "WOS:A1978GC55400004", "WOS:A1978EV91500029", "WOS:A1978EH47700003", "WOS:A1978EM12800076", "WOS:A1978EH33200008", "WOS:A1978EK91200004", "WOS:A1978EG94300047", "WOS:A1978EL47700002", "WOS:A1978FM72500020", "WOS:A1978FS46500047", "WOS:A1978EK65900051", "WOS:A1978FA76400024", "WOS:A1978FA09000020", "WOS:A1978FD81700029", "WOS:A1978FC15600038", "WOS:A1978FK40200015", "WOS:A1978EU94600041", "WOS:A1978ES72900027", "WOS:A1978EW03300011", "WOS:A1978EU94600117", "WOS:A1978EJ92000032", "WOS:A1978FE37800029", "WOS:A1978FX85700031", "WOS:A1978EN04000013", "WOS:A1978FK01700020", "WOS:A1978FJ88100057", "WOS:A1978EW03300012", "WOS:A1978FU61400021", "WOS:A1978FL81400023")) T1

                    JOIN the_references as R1 ON T1.s1=R1.uid
                    JOIN publications as P2 ON R1.wos_id=P2.wos_id) T2

                JOIN the_references as R2 ON T2.s2=R2.uid
                JOIN publications as P3 ON R2.wos_id=P3.wos_id) T3

            JOIN the_references as R3 ON T3.s3=R3.uid
            JOIN publications as P4 ON R3.wos_id=P4.wos_id) T4

        JOIN the_references as R4 ON T4.s4=R4.uid
        JOIN publications as P5 ON R4.wos_id=P5.wos_id

        GROUP BY T4.s0
        ORDER BY cnt DESC
        LIMIT 100

 ----------------------------