In [1]:
# query 3

# get the list of authors who appear in affiliations from more than 2 countries
#  do not address name disambiguation here

In [6]:
import pymysql
import time

In [7]:
db_name = 'test_wos_cut_full'

client_config = {'unix_socket':'/project2/jevans/study_dbs/mysql/.sql.sock',
                'database': db_name}

In [93]:
# get list of years

K_countries = 2  # todo apply this cutoff

start_time = time.time()

db = pymysql.connect(**client_config)

cursor = db.cursor()

sql = '''
        SELECT last_name, first_name, count(*) as name_count
        FROM (
            SELECT 
                C.last_name, C.first_name, I.country
            FROM institutions as I
            JOIN contributors as C
            ON I.wos_id=C.wos_id
            WHERE C.last_name IS NOT NULL
            GROUP BY C.last_name, C.first_name, I.country
            ) t
        GROUP BY last_name, first_name
        HAVING name_count > 2
        ORDER BY name_count DESC
        '''

#        GROUP BY C.last_name, C.first_name
#        ORDER BY count(DISTINCT C.first_name, C.last_name) DESC

cursor.execute(sql)

for i,result in enumerate(cursor):
    print('{}: '.format(i))
    print(result)
results = cursor.fetchall()
print(results)

cursor.close()
db.close()

end_time = time.time()
print("elapsed (s): {}".format(end_time - start_time))

0:
('AARSNES', 'K', 4)
1:
('AAHLIN', 'P', 2)
2:
('AAKVAAG', 'A', 2)
3:
('AALDERS', 'JWG', 2)
4:
('AALTO', 'M', 2)
5:
('AARDEN', 'LA', 2)
6:
('ABARU', 'DE', 2)
7:
('ABATUROV', 'LV', 2)
8:
('ABBAS', 'R', 2)
9:
('ABBASSIOUN', 'K', 2)
10:
('ABBATI', None, 2)
11:
('ABBOTT', 'AJ', 2)
12:
('ABBOTT', 'BC', 2)
13:
('ABBOTT', 'IJ', 2)
14:
('ABBOTT', 'LK', 2)
15:
('ABBOUD', 'JL', 2)
()
elapsed (s): 10.688954591751099

In [92]:
db.close()