## benchmarking query 1

1. \
pick a year, return the 10 journals with largest number of publications

In [1]:
import pymysql
import time
import json

In [2]:
db_name = 'test_wos_cut_full'

client_config = {'unix_socket':'/project2/jevans/study_dbs/mysql/.sql.sock',
                'database': db_name}

### benchmark query 1

https://stackoverflow.com/questions/1503959/how-to-count-occurrences-of-a-column-value-efficiently-in-sql

In [3]:
# top publications (for a single year)

K_journals = 10
year = 1978

start_time = time.time()

db = pymysql.connect(**client_config)

cursor = db.cursor()
sql = '''SELECT pubyear, source, count(source)
        FROM publications
        WHERE pubyear={}
        GROUP BY source
        ORDER BY count(source) DESC
        LIMIT {}
        '''.format(year, K_journals)

cursor.execute(sql)

#for i,result in enumerate(cursor):
#    print('{}: '.format(i))
#    print(result)
results_1978 = cursor.fetchall()
print(results_1978)

cursor.close()
db.close()

end_time = time.time()
elapsed_1978 = end_time - start_time
print("elapsed (s): {}".format(elapsed_1978))

((1978, 'FEDERATION PROCEEDINGS', 7287), (1978, 'BULLETIN OF THE AMERICAN PHYSICAL SOCIETY', 5895), (1978, 'CLINICAL RESEARCH', 5208), (1978, 'ABSTRACTS OF PAPERS OF THE AMERICAN CHEMICAL SOCIETY', 4514), (1978, 'BRITISH MEDICAL JOURNAL', 3597), (1978, 'LANCET', 3189), (1978, 'TLS-THE TIMES LITERARY SUPPLEMENT', 3062), (1978, 'NATURE', 2990), (1978, 'TRANSACTIONS-AMERICAN GEOPHYSICAL UNION', 2812), (1978, 'DOKLADY AKADEMII NAUK SSSR', 2339))
elapsed (s): 12.609336137771606

In [4]:
# top publications (over all years)

K_journals = 125

start_time = time.time()

db = pymysql.connect(**client_config)

cursor = db.cursor()
sql = '''SELECT pubyear, source, count(source)
        FROM publications
        GROUP BY source
        ORDER BY count(source) DESC
        LIMIT {}
        '''.format(K_journals)

cursor.execute(sql)

#for i,result in enumerate(cursor):
#    print('{}: '.format(i))
#    print(result)
results_allyears = cursor.fetchall()
print(results_allyears)

cursor.close()
db.close()

end_time = time.time()
elapsed_allyears = end_time - start_time
print("elapsed (s): {}".format(elapsed_allyears))

((1962, 'FEDERATION PROCEEDINGS', 66630), (1968, 'BULLETIN OF THE AMERICAN PHYSICAL SOCIETY', 58448), (1960, 'NATURE', 53108), (1971, 'ABSTRACTS OF PAPERS OF THE AMERICAN CHEMICAL SOCIETY', 44989), (1960, 'LANCET', 40646), (1960, 'JOURNAL OF THE AMERICAN CHEMICAL SOCIETY', 36692), (1960, 'BRITISH MEDICAL JOURNAL', 36584), (1960, 'DOKLADY AKADEMII NAUK SSSR', 36076), (1960, 'BIOCHIMICA ET BIOPHYSICA ACTA', 35845), (1960, 'JOURNAL OF CHEMICAL PHYSICS', 33579))
elapsed (s): 105.45942950248718

In [6]:
save_obj = {'elapsed_1978': elapsed_1978,
            'results_1978': results_1978,
           'elapsed_allYears': elapsed_allyears,
           'results_allYears': results_allyears}

with open('query1_results_125.json','w') as f:
    json.dump(save_obj, f)