In [1]:
# query 3

# get the list of authors who appear in affiliations from more than 2 countries
#  do not address name disambiguation here

In [2]:
import pymysql
import time
import json

In [3]:
db_name = 'test_wos_cut_full'

client_config = {'unix_socket':'/project2/jevans/study_dbs/mysql/.sql.sock',
                'database': db_name}

In [ ]:
# get list of years

K_countries = 2  # authors who have published from this many countries

start_time = time.time()

db = pymysql.connect(**client_config)

cursor = db.cursor()

sql = '''
        SELECT last_name, first_name, count(*) as name_count
        FROM (
            SELECT 
                C.last_name, C.first_name, I.country
            FROM institutions as I
            JOIN contributors as C
            ON I.wos_id=C.wos_id
            WHERE C.last_name IS NOT NULL
            GROUP BY C.last_name, C.first_name, I.country
            ) t
        GROUP BY last_name, first_name
        HAVING name_count > 2
        ORDER BY name_count DESC
        '''

cursor.execute(sql)

#for i,result in enumerate(cursor):
#    print('{}: '.format(i))
#    print(result)
results = cursor.fetchall()
print(results)

cursor.close()
db.close()

end_time = time.time()
elapsed = end_time - start_time
print("elapsed (s): {}".format(elapsed))

In [ ]:
save_obj = {'elapsed': elapsed,
            'results': results}

with open('query3_results.json','w') as f:
    json.dump(save_obj, f)