## benchmarking query 1

1. \
pick a year, return the 10 journals with largest number of publications

In [1]:
import pymysql
import time

In [2]:
db_name = 'test_wos_cut_full'

client_config = {'unix_socket':'/project2/jevans/study_dbs/mysql/.sql.sock',
                'database': db_name}

### benchmark query 1

https://stackoverflow.com/questions/1503959/how-to-count-occurrences-of-a-column-value-efficiently-in-sql

In [3]:
# get list of years

K_journals = 10
year = 1975

start_time = time.time()

db = pymysql.connect(**client_config)

cursor = db.cursor()
sql = '''SELECT pubyear, source, count(source)
        FROM publications
        WHERE pubyear={}
        GROUP BY source
        ORDER BY count(source) DESC
        LIMIT {}
        '''.format(year, K_journals)

cursor.execute(sql)

for i,result in enumerate(cursor):
    print('{}: '.format(i))
    print(result)
results = cursor.fetchall()
print(results)

cursor.close()
db.close()

end_time = time.time()
print("elapsed (s): {}".format(end_time - start_time))

0:
(1975, 'BULLETIN OF THE AMERICAN PHYSICAL SOCIETY', 5887)
1:
(1975, 'FEDERATION PROCEEDINGS', 4947)
2:
(1975, 'CLINICAL RESEARCH', 3867)
3:
(1975, 'ABSTRACTS OF PAPERS OF THE AMERICAN CHEMICAL SOCIETY', 3451)
4:
(1975, 'LANCET', 3061)
5:
(1975, 'TLS-THE TIMES LITERARY SUPPLEMENT', 3005)
6:
(1975, 'NATURE', 2987)
7:
(1975, 'BRITISH MEDICAL JOURNAL', 2951)
8:
(1975, 'NOTICES OF THE AMERICAN MATHEMATICAL SOCIETY', 2420)
9:
(1975, 'DOKLADY AKADEMII NAUK SSSR', 2405)
()
elapsed (s): 19.436426877975464

In [4]:
# get list of years

K_journals = 10

start_time = time.time()

db = pymysql.connect(**client_config)

cursor = db.cursor()
sql = '''SELECT pubyear, source, count(source)
        FROM publications
        GROUP BY source
        ORDER BY count(source) DESC
        LIMIT {}
        '''.format(K_journals)

cursor.execute(sql)

for i,result in enumerate(cursor):
    print('{}: '.format(i))
    print(result)
results = cursor.fetchall()
print(results)

cursor.close()
db.close()

end_time = time.time()
print("elapsed (s): {}".format(end_time - start_time))

0:
(1962, 'FEDERATION PROCEEDINGS', 66630)
1:
(1968, 'BULLETIN OF THE AMERICAN PHYSICAL SOCIETY', 58448)
2:
(1960, 'NATURE', 53108)
3:
(1971, 'ABSTRACTS OF PAPERS OF THE AMERICAN CHEMICAL SOCIETY', 44989)
4:
(1960, 'LANCET', 40646)
5:
(1960, 'JOURNAL OF THE AMERICAN CHEMICAL SOCIETY', 36692)
6:
(1960, 'BRITISH MEDICAL JOURNAL', 36584)
7:
(1960, 'DOKLADY AKADEMII NAUK SSSR', 36076)
8:
(1960, 'BIOCHIMICA ET BIOPHYSICA ACTA', 35845)
9:
(1960, 'JOURNAL OF CHEMICAL PHYSICS', 33579)
()
elapsed (s): 50.84268069267273

NameError: name 'db' is not defined